@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');


*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

@media (max-width: 640px) {
  .top-bar ul {
    flex-direction: column;
    align-items: stretch;
  }
  .menu li {
    display: block;
    margin: 0;
  }
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Mono', monospace;
}

.sub-header{
  color: #8b857f;
}


.landing-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4e8da;
}

.orange-btn {
  background-color: #ffa500;
  border: none;
  color: #ffffff;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.google {
  border: none;
  color: #f7efef;
  background-color: #f74429;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reg-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.google-sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.google-sign-in-text {
  font-size: 20px;
  color: #000000;
  font-weight: bold;
}

.google-sign-in-button {
  margin-top: 10px;
}


.google:hover {
  background-color: #1DA1F2;
}

.reg-btn {
  background-color: #1DA1F2;
  font-size: 16px;
  border-radius: 20px;
}

.reg-btn:hover {
  background-color: #0b6366;
}

.reg-form-field {
  max-width: 500px;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #8b857f;
}

.orange-btn:hover {
  background-color: #ff8c00;
}

.sign-out-btn {
  background-color: #ff8c00;
  border-radius: 20px;
}

.delete-btn{
  margin-left: 30px;
}

.delete-btn:hover {
  transform: scale(1.8);
}

.top-bar {
  z-index: 1;
  // margin-top: -50px;
  width: 100%;
  // position: absolute;
  transition: margin-top 100ms;
  background-color: #f4e8da;
}
.top-bar ul {
  background-color: #f4e8da;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'IBM Plex Mono', monospace;
}


.menu {
  background-color: #f4e8da;
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  margin: 0 10px;
}

.menu-text {
  color: #000000;
}

.top-bar-left{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.top-bar-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}


.nav-link {
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease;
}

.nav-home {
  color: #000000;
  font-weight: bold;
  font-size: 24px;
  display: flex;
  align-items: center;
}
.robot-icon {
  color: #1DA1F2;
}

.nav-link:hover {
  color: #1DA1F2;
  transform: scale(1.1);
}
.get-prompt-headline{
  //should be much bigger
  font-size: 48px;
  font-weight: bold;
  color: #000000;
  margin: 20px 0;
  font-family: 'IBM Plex Mono', monospace;
}
.gen-btn{
  margin: 5px;
}
.content-title{
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin: 20px 0;
  font-family: 'IBM Plex Mono', monospace;
}
.edit-btn {
  background-color: transparent;
  margin: 10px;
  border: 2px solid #ffa500;
  color: #ffa500;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #ffa500;
  color: #ffffff;
}

.save-btn{
  background-color: transparent;
  margin: 10px;
  border: 2px solid #ffa500;
  color: #ffa500;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.save-btn:hover {
  background-color: #ffa500;
  color: #ffffff;
}

.app-main-div {
  text-align: center;
}

.gen-prompt-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 20px 0;
}

.gen-prompt-box{
  box-shadow: 2px 2px 8px #ee841a;
  width: 500px;
  height: auto;
  border-radius: 10px;
  padding: 0.5rem;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.button-container{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.new-prompt-form-container{
  display: flex;
  justify-content: center;

}

.new-prompt-form-input{
  box-shadow: 1px 1px 4px #1DA1F2;
  max-width: 500px;
  border-radius: 10px;
  margin: 5px;
  
}

// .gen-btn{
//   margin-right: 100px;
// }

// .gen-save-btn{
//   margin-left: 100px;
// }

.saved-prompt-tile {
  box-shadow: 2px 2px 8px #5b95f4;
  width: 300px;
  // height: 200px;
  border-radius: 10px;
  padding: .5rem;
}

.prompt-tiles-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.prompt-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile-prompt {
  box-shadow: 2px 2px 8px #ee841a;
  border-radius: 10px;
  padding: 1rem;
  margin: 3rem;
}

.entry-form-container{
  border: none;
}

.entry-input{
  box-shadow: 2px 2px 8px #ee841a;
  border-radius: 10px;
}

.title-field{
  max-width: 300px;
}

.label-field{
  max-width: 300px;
}

.textarea-field{
  min-height: 100px;
}

.prompt-show-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-btn-container{
  display: flex;
  justify-content: space-between;
}

.edit-prompt-textarea {
  box-shadow: 2px 2px 8px #ee841a;
  width: 500px;
  height: 200px;
  border-radius: 10px;
  padding: .5rem;
  overflow: hidden;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

.entry-list-title{
  text-align: center;
}

.entry-tile{
  box-shadow: 2px 2px 8px #5b95f4;
  max-width: 300px;
  height: auto;
  border-radius: 10px;
  padding: .5rem;
}

.entry-tile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  flex-direction: row;
  padding: 40px;
}

.show-label{
  box-shadow: 2px 2px 8px #8b857f;
  padding: .3em;
  border-radius: 10px;
  margin: .4em;
  display: inline-block;
  font-size: .6rem;
}

.show-title{
  font-weight: bold;
}
.show-entry-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.show-entry-content{
  box-shadow: 1px 1px 4px #7ca7ec;
  padding: .5rem;
  border-radius: 10px;
}

.entry-show-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}